<h1>My tasks</h1>

<% @tasks.each do |task| %>
<%= task.title %><%= link_to "Delete", task_path(task), method: :delete, data: { confirm: "Are you sure?" } %>
<%= link_to "Edit", edit_task_path(task) %>
<%= link_to "Details", task_path(task), method: :get %>
<br>
<% end %>
<br>
<%= link_to "Add a new task", tasks_new_path %>
